body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-blue{
    background: dodgerBlue !important;
    color: white !important;
}
.navbar-blue a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.navbar-nav > li > a:hover{
    background: dodgerBlue !important;
    text-decoration: underline;
}
.navbar-title{
    font-size: 26pt;
    text-align: center;
}
.navbar-title-container{
    width: 100%;
    margin-top: 10px;
}
.navbar-title-container > a{
    width: 100%;
    display: block;
    text-align: right;
}
.navbar-title-container > a:hover{
    text-decoration: underline;
}
.project{
    margin-top: 120px;
}
.usermanagement{
    margin-top: 120px;
}
.tblProjects-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.tblProjects-new-project{
    background: dodgerBlue;
    border-radius: 5px;
    color: white;
    padding: 7px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.tblProjects-backlog-project{
    color: black;
}
.tblProjects-new-project:hover{
    background: #1574d0;
    cursor:pointer;
}
.tblProjects-title{
    margin-left: 25px;
    font-size: 13pt;
    margin-bottom: 5px;
}
.tblProjects-title ~ div{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
#tblProjects > tbody > tr > td:nth-child(2){
    text-align: right;
}
#tblProjects > tbody > tr > td > a{
    margin-right: 10px;
    cursor: pointer;
}
#tblProjects thead > tr > th{
    display :none;
}
.project-form-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
}

#projectForm {
    width: 600px;
    padding: 20px;
    background: white;
    margin: auto;
    margin-top: calc((100vh - 400px) / 2);
    border-radius: 10px;
}
#projectForm h3 {
    color: dodgerblue;
}

#projectForm .form-group > .control-label {
    margin-left: 20px;
}
.tblUser-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.tblUser-new-user {
    background: dodgerBlue;
    border-radius: 5px;
    color: white;
    padding: 7px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.tblUser-new-user:hover {
    background: #1574d0;
    cursor: pointer;
}

.tblUser-title {
    margin-left: 25px;
    font-size: 13pt;
    margin-bottom: 5px;
}

.tblUser-title ~ div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.#tblUser > table thead, .#tblProjects > table thead {
    display: none;
}

#tblUser > tbody > tr > td:nth-child(2) {
    text-align: right;
}

#tblUser > tbody > tr > td > a {
    margin-right: 10px;
    cursor: pointer;
}
#tblUser thead > tr > th{
    display :none;
}
.user-form-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
}

#userForm {
    width: 600px;
    background: white;
    margin: auto;
    margin-top: calc((100vh - 400px) / 2);
    padding: 20px;
    border-radius: 10px;
}
#userForm h3 {
    color: dodgerblue;
}
#userForm .form-group > .control-label {
    margin-left: 20px;
}
.backlog-items {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: "history items";
}

.backlog-items-history {
    width: 100%;
    text-align: left;
    grid-area: history;
}
.backlog-items-history *{
    margin-top: 10px;
    margin-bottom: 10px;
}
.backlog-items-history a {
    width: 100%;
    display: block;
    cursor: pointer;
    text-align: center;
}

.backlog-items-work-items {
    grid-area: items;
}

.flex-button{
    display: flex;
}
#updateSprint, #addWorkItem{
    cursor: pointer;
}