@{
    ViewBag.Title = "Home Page";
}

<div class="project">
    @*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

    <div class="row">
        <table role="grid" id="tblProjects" class="table table-striped " cellspacing="0">
            <thead>
                <tr role="row">
                    <th style="width: 380px; outline: none; text-align:center;" class="center">
                        
                    </th>
                    <th style="width: 40px; outline: none;" class="center">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.projectList != null)
                {
                    foreach (var item in ViewBag.projectList)
                    {
                        <tr role="row">
                            <td class="firstTd">
                                <div>
                                    @{
                                        string name = item.projectName.ToString();
                                    }
                                    @Html.ActionLink(name, "Index", "Project", new { projectID = item.projectID }, new { @class = "tblProjects-backlog-project" })
                                </div>
                            </td>
                            <td>
                                <a class="tblProjects-auth-project" data-id=@item.projectID>Security</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div id="modal"></div>

<script>
    $(document).ready(function () {
        $('#tblProjects').dataTable({
            "dom": '<"tblProjects-container"<"tblProjects-title"><f<"tblProjects-new-project">>>t'
        });
        $('.tblProjects-title').html("<b>Projects</b>");
        $('.tblProjects-new-project').text("New Project");
        $('.tblProjects-new-project').on('click', function () {
            $("#modal").load('@Url.Action("ProjectPartial", "Home")');
        });
        $('.tblProjects-auth-project').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $.get('@Url.Action("AuthUserPartial", "Home")', { projectID: id }, function (result) {
                $('#modal').html(result);
            });
        });
        //$('#tblProjects_filter').html('<label><input type=search" class="" placeholder="" aria-controls="tblProjects"></label>');
        //console.log($('#tblProjects > label').text());
    });
</script>